li{
    list-style: none;
    padding-top: 1em;
    color: #484848;
    font-family: 'Merriweather Sans', sans-serif;
}

li::before{
    content: '✔';
    background-color: #20b58a;
    color: white;
    border-radius: 120px;
    font-size: 12px;
    padding: 3px 5px;
    margin-right: 1em;
}

/* attempt 1: add img, add background color. attemp 2: change bullet to large teal circle then add check img and shift over. considered creating custom bullet in photoshop*/